@import "src/responsive.scss";

.quiz-manager {
  height: 100%;

  @include smallscreen {
    border-top: 2px solid black;
  }

  &__section {
    width: 100%;
    border-bottom: 1px solid black;

    @include smallscreen {
      border-bottom: unset;
      border-right: 1px solid black;
    }

    &--top {
      height: 120px;

      &--wide {
        height: 100px;
      }
    }

    &--button {
      height: 60px;
    }

    &--main {
      height: calc(100vh - 3 * 60px);

      @include smallscreen {
        height: calc(100% - 60px);
      }

      &--wide {
        height: calc(100vh - 3 * 60px - 40px);

        @include smallscreen {
          height: calc(100% - 60px);
          min-height: calc(100% - 60px);
          overflow: scroll;
        }

        &--ended {
          @include smallscreen {
            height: fit-content;
            max-height: calc(100% - 60px);
            padding: 2rem 0;
          }
        }
      }
    }
  }

  &__no-border {
    border: none;
  }

  &__button-section {
    @include smallscreen {
      display: flex;
      border-top: 1px solid black;

      &--flip {
        flex-direction: row-reverse;
      }
    }
  }
}
