.menu-bar {
  background: var(--theme-background);
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;
  width: 100vw;
  z-index: 200;
  border-bottom: 2px solid black;
  display: flex;

  &__item {
    width: 25%;
    border-right: 2px solid rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: width 500ms ease;
    position: relative;

    &:last-child {
      border-right: unset;
    }

    &--wrap {
      width: 100%;
    }

    &--no-wrap {
      width: 0px;
      animation: hide-border 500ms ease;
      animation-fill-mode: forwards;
    }

    &--hidden {
      display: none;
    }

    &--faded {
      width: 25vw;
      opacity: 0.5;
    }

    &--overlayed {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 201;
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &__menu {
    display: inline-flex;
    align-items: center;

    &--image-logo {
      height: 35px;
      width: 35px;
    }

    &--icon {
      height: 20px;
      width: 20px;
      padding: 7.5px;
    }

    &--icon-gear {
      position: absolute;
      right: 2.5px;
      bottom: -2.5px;
      height: 12px;
      width: 12px;
    }

    &--button-logo {
      background: var(--theme-background);
      padding: 5px;
      border-radius: 50px;
      cursor: pointer;
      border: 1px solid black;
      margin-left: 5px;
      position: relative;
    }

    &--icon-hamburger {
      height: 25px;
      width: 25px;
      padding: 7.5px;
    }

    &--icon-search {
      height: 25px;
      width: 25px;
      padding: 7.5px;
      transform: translateY(-1px);
    }
  }

  &__logo-show-quick-info {
    max-height: 100%;

    img {
      max-height: 100%;
    }
  }

  &--hidden {
    opacity: 0.5;
    width: 25%;
  }
}

@keyframes hide-border {
  from {
    border-right: 2px solid rgba(0, 0, 0, 1);
  }

  to {
    border-right: 2px solid rgba(0, 0, 0, 0);
  }
}
