.meridian-control {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;

  &__selected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;

    &--icon {
      width: 30px;
      height: 30px;
    }

    &--container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__dropdown {
    max-height: 30vh;
    overflow-y: auto;
    background-color: var(--theme-background);
    display: none;
    position: absolute;
    left: -1px;
    bottom: calc(100% + 1px);
    border-top: 1px solid black;
    border-left: 1px solid black;
    height: 30vh;
    width: 100%;

    &--show {
      display: block;
    }

    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px !important;
      height: 40px !important;
      border-radius: 50%;
      margin-right: 5px;
    }

    &--option {
      opacity: .5;

      &:hover {
        opacity: 1
      }
    }

    &--option-selected {
      opacity: 1;
    }
  }
}
