.records-summary {
  margin-top: 20px;
  background: white;
  border: 1px solid black;
  width: 100%;
  height: fit-content;
  padding: 10px;

  &__title {
    font-size: 1.75rem;
    line-height: 1.75rem;

    &--container {
      border-bottom: 1px solid black;
    }
  }

  &__select {
    border: none;
    background-color: var(--theme-highlight);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0px;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
  }

  &__item {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }

    h3 {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }
}
