.home-page-control {
  position: absolute;
  right: 0;
  bottom: 5px;
  height: 150px;
  z-index: 200;

  &__control {
    &--quiz {
      border: unser;
      width: 155px;
    }
  }

  &--quiz {
    left: 0;
    right: unset;
    height: 90px;
  }
}
