@import "src/responsive.scss";

.manual-page {
  width: 100vw;
  margin: 0 auto;
  background: var(--theme-background);
  margin-top: 60px;
  min-height: 150vh;

  &__content {
    margin-top: 30px;
    width: 85vw;
    margin-left: 7.5vw;
    padding-bottom: 40px;

    @include smallscreen {
      width: 90vw;
      margin-left: 5vw;
    }
  }

  &__head {
    width: fit-content;
    padding-top: 30px;

    &--logo {
      width: 125px;

      @include smallscreen {
        width: 75px;
      }
    }

    &--project-name {
      font-size: 3.15rem;
      line-height: 3.45rem;
      width: fit-content;
      text-align: center;

      @include smallscreen {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }

  &__desktop {
    h2 {
      font-size: 2rem;
      line-height: 2.25rem;
    }
  }

  &__mobile {
    h2 {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
  }

  &__instruction {
    font-size: 1.2rem;
    line-height: 1.35rem;
    font-family: 'regular' !important;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
