.footer-bar {
  height: 60px;
  width: 100%;
  position: relative;

  &__option {
    font-size: 1.5rem;
    cursor: pointer;

    &:first-child {
      border-right: 1px solid black;
    }
  }

  &__icon {
    &--quiz {
      width: 35px;
    }

    &--logo {
      width: 40px;
    }
  }

  &__button-quiz {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;

    &--background {
      width: 105%;
      height: 105%;
      object-fit: cover;
      transform: translateY(-2px);
    }

    &--caption {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;
      font-size: 1.5rem;
    }
  }
}
