@import "src/responsive.scss";

.create-account-page {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;

  &__section {
    height: 100%;

    &--main {
      background: var(--theme-background);
      flex-direction: column;
      padding: 1rem 2rem 2rem 2rem;
      border-right: 1px solid black;
    }
  }

  &__image {
    &--demo {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &--logo {
      width: 65px;
      height: fit-content;
      margin-bottom: 20px;
      cursor: pointer;
    }
  }

  &__title {
    font-size: 2.75rem;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;

    @include smallscreen {
      text-align: center;
    }
  }

  &__subtitle {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 10px;

    @include smallscreen {
      text-align: center;
    }
  }

  &__home-icon {
    border: 1px solid transparent;
    position: absolute;
    padding: 5px;
    top: 12.5px;
    left: 10px;
    cursor: pointer;

    &:hover {
      background: var(--theme-primary);
      border: 1px solid black;
    }

    img {
      width: 35px;
    }

    @include smallscreen {
      top: 0;
      left: 0;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      padding: 10px;
    }
  }
}
