.home-title {
  height: 100%;

  &__title {

    &--sub,
    &--instruction {
      font-size: 1.25rem;
    }

    &--main {
      margin-top: 1rem;
      font-size: 3.5rem;
    }

    &--project-name {
      font-size: 1rem;
    }

    &--instruction {
      margin-top: 2rem;
      font-size: 1rem;
      color: rgba(0, 0, 0, .2);
    }

    &--logo {
      height: 36px;
      display: inline;
      transform: translateY(-3px);
    }
  }
}
