.item-detail {
  width: 60vw;
  margin: 0 auto;
  margin-top: 20px;

  &__flex-block {
    border-bottom: 1px solid black;
    margin-right: 5px;
    padding-bottom: 5px;
  }

  &__header {
    cursor: pointer;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;

    &:hover>&--back,
    &:hover>&--edit {
      display: block;
    }

    &--code,
    &--name {
      font-size: 2rem;
      line-height: 2rem;
    }

    &--back {
      position: absolute;
      left: 0px;
      top: 5px;
      height: 20px;
      display: none;

      &:hover {
        display: block;
      }
    }

    &--edit {
      position: absolute;
      right: 0px;
      top: 5px;
      height: 20px;
      display: none;

      &:hover {
        display: block;
      }
    }
  }

  &__category {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2px;

    &--caution {
      color: var(--theme-danger);
    }
  }

  &__title {
    border-bottom: 1px solid black;
    font-size: 2.5rem;
    font-family: "header" !important;

    h1 {
      display: inline;
    }

    &--code {
      margin-right: 20px;
      background: var(--theme-highlight);
    }
  }

  &__info {
    &--text-caution {
      color: var(--theme-danger);
    }

    &--text {
      text-align: justify;
    }
  }

  &__information {
    margin-bottom: 15px;
    margin-top: 5px;
    padding-right: 3px;
  }

  &__highlighted {
    background: var(--theme-highlight)
  }

  &__meridian-point {
    cursor: pointer;
    width: fit-content;

    &:hover {
      background: var(--theme-highlight);
    }
  }

  &__buttons {
    &--button {
      border: 1px solid black;
      padding: 10px;
      height: 100%;
      cursor: pointer;
      text-align: center;
      width: fit-content;

      svg {
        height: 20px;
        width: 20px;
      }

      &:hover {
        background: var(--theme-primary);
      }
    }
  }
}
